# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env           # Ignore any .env files in root
backend/.env   # Ignore .env in the backend directory specifically

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# Additional files
/build
.vscode/
coverage/
yarn.lock

# OS-specific files
Thumbs.db
ehthumbs.db

# Continuous integration / deployment files
.next
.vercel
.netlify
backend/.env
